.App {
  text-align: center;
}

.header {
  text-align: center;
  color: blue;
}

.header h1 {
  font-family: verdana;
  font-size: 5em;
}

#surfer-pic {
	position: relative;
}

.navbar {
  width: 100%;
  margin: 2em 2em;
  height: 4em;
}

.navlink {
	position: relative;
}

p {
	display: none;
}

hr {
	width: 30%;
}

.surf-spots {
	position: relative;
}

.county-button {
	font-size: 1.4em;
	background-color: azure;
	border-radius: 6px;
	color: blue;
}

.county-list {
	width: 25%;
	text-align: left;
	margin: auto;
}

.description {
	display: block;
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 3em;
}


@media only screen and (max-width: 600px) {
  .navbar {
    text-align: center;
    width: 40%;
    margin: auto;
  }

  .navlink {
    display: block;
  }
}


